dicts.txt
.DS_Store
venv/
**/word_vectors
**/vocab_files
**/BERT.txt
**/embeddings_word
**/embeddings_context_vocab/*.txt
**/data
!/Python/data/vocab*
*-checkpoint.ipynb
Python/temp_shuffle_*.bin
**/counter-fitting
**/wordsim
**/hunmisc
**/4lang
**/retrofitting
**/GloVe
stanford*
